<h1>Instalacoes</h1>

In [1]:
!pip3 install openai

Requirement already satisfied: openai in /home/chris/anaconda3/lib/python3.9/site-packages (0.27.8)
Requirement already satisfied: aiohttp in /home/chris/anaconda3/lib/python3.9/site-packages (from openai) (3.8.1)
Requirement already satisfied: requests>=2.20 in /home/chris/anaconda3/lib/python3.9/site-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /home/chris/anaconda3/lib/python3.9/site-packages (from openai) (4.64.0)
Requirement already satisfied: idna<4,>=2.5 in /home/chris/anaconda3/lib/python3.9/site-packages (from requests>=2.20->openai) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/chris/anaconda3/lib/python3.9/site-packages (from requests>=2.20->openai) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /home/chris/anaconda3/lib/python3.9/site-packages (from requests>=2.20->openai) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/chris/anaconda3/lib/python3.9/site-packages (from requests>=2.20->openai) (2.0.4)
Requirement already satisfied: attrs>=17.3.0 in /home/chris/anaconda3/lib/python3.9/site-packages (from aiohttp->openai) (21.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /home/chris/anaconda3/lib/python3.9/site-packages (from aiohttp->openai) (1.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /home/chris/anaconda3/lib/python3.9/site-packages (from aiohttp->openai) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /home/chris/anaconda3/lib/python3.9/site-packages (from aiohttp->openai) (4.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /home/chris/anaconda3/lib/python3.9/site-packages (from aiohttp->openai) (1.6.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/chris/anaconda3/lib/python3.9/site-packages (from aiohttp->openai) (5.2.0)
Requirement already satisfied: typing-extensions>=3.6.5 in /home/chris/anaconda3/lib/python3.9/site-packages (from async-timeout<5.0,>=4.0.0a3->aiohttp->openai) (4.1.1)

In [2]:
!pip3 install tiktoken

Requirement already satisfied: tiktoken in /home/chris/anaconda3/lib/python3.9/site-packages (0.4.0)
Requirement already satisfied: requests>=2.26.0 in /home/chris/anaconda3/lib/python3.9/site-packages (from tiktoken) (2.27.1)
Requirement already satisfied: regex>=2022.1.18 in /home/chris/anaconda3/lib/python3.9/site-packages (from tiktoken) (2022.3.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/chris/anaconda3/lib/python3.9/site-packages (from requests>=2.26.0->tiktoken) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /home/chris/anaconda3/lib/python3.9/site-packages (from requests>=2.26.0->tiktoken) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/chris/anaconda3/lib/python3.9/site-packages (from requests>=2.26.0->tiktoken) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/chris/anaconda3/lib/python3.9/site-packages (from requests>=2.26.0->tiktoken) (2021.10.8)

<h1>Importacoes</h1>

In [3]:
import os
import openai
import tiktoken
import time
import numpy as np
import pandas as pd
from openai.embeddings_utils import get_embedding, cosine_similarity

import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE

<h1>Analise exploratoria</h1>

In [4]:
df = pd.read_csv("../data/cursos.csv")
df.head()

,Unnamed: 0,Nome Curso,Descrição,Materias,Tipo,Duração
0,0,marketing,['Marketing é o conjunto de estratégias e açõe...,"['Administração de Compras e Vendas', 'Adminis...",grad,8
1,1,comunicacao-social,['A Comunicação Social é a área da Ciência Soc...,"['Antropologia e Cultura Brasileira', 'Cibercu...",grad,8
2,2,engenharia-ambiental,['A Engenharia Ambiental é a área da engenhari...,['América Latina e Sustentabilidade Socioambie...,grad,10
3,3,gestao-ambiental,['É a prática de gerenciar os recursos naturai...,"['Atividades Complementares', 'Auditoria e Cer...",grad ou tec,6
4,4,psicologia,"[""Psicologia é a ciência dedicada ao estudo da...","['Antropologia', 'Bases Epistemológicas da Psi...",grad,10

In [5]:
df.shape

(13, 6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13 non-null     int64
 1   Nome Curso  13 non-null     object
 2   Descrição   13 non-null     object
 3   Materias    13 non-null     object
 4   Tipo        13 non-null     object
 5   Duração     13 non-null     object
dtypes: int64(1), object(5)
memory usage: 752.0+ bytes

In [7]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df.head(1)

,Nome Curso,Descrição,Materias,Tipo,Duração
0,marketing,['Marketing é o conjunto de estratégias e açõe...,"['Administração de Compras e Vendas', 'Adminis...",grad,8

In [8]:
df.columns = ['nome_curso', 'descricao', 'materias', 'tipo', 'duracao']
df.columns

Index(['nome_curso', 'descricao', 'materias', 'tipo', 'duracao'], dtype='object')

In [10]:
def transforma_descricao(string):
    pass

In [ ]:
embedding_model = "text-embedding-ada-002"
embedding_encoding = "cl100k_base"
max_tokens = 8000